<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/contact.css">
</head>

<body>
    <header>
        <p class="page-title">
            <a class="link" href="/">
                ts express
            </a>
        </p>
        <nav>
            <ol>
                <li><a class="nav-link" href="/">about</a></li>
                <li><a class="nav-link" href="/news">news</a></li>
                <li><a class="nav-link" href="/layouts">layouts</a></li>
                <li><a class="nav-link" href="/contact" target="_blank">contact</a></li>
            </ol>
        </nav>
    </header>
    <div class="container bg-white p-2 min-height">
        <main>
            <h1>
                Contact
            </h1>
            <form>
                <input type="text" contextmenu="namemenu">
            </form>
        </main>

        <aside class="calender">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
            </ul>
        </aside>
    </div>

    <footer>
        <p>created by yuichiyasui</p>
    </footer>
</body>

</html>