<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ホーム</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
</head>

<body>
    <div class="wrap">
        <header>
            <p class="page-title">
                <a class="link" href="/">
                    ts express
                </a>
            </p>
            <nav>
                <ol>
                    <li><a class="nav-link" href="/">about</a></li>
                    <li><a class="nav-link" href="/news">news</a></li>
                    <li><a class="nav-link" href="/layouts">layouts</a></li>
                    <li><a class="nav-link" href="/contact" target="_blank">contact</a></li>
                </ol>
            </nav>
        </header>
        <div class="container-full grid-center">
            <div class="center">HTML CSS TypeScript Express Node.js</div>
        </div>
        <footer class="footer">
            <p>created by yuichiyasui</p>
        </footer>

    </div>
    <script src="/scripts/index.js"></script>
</body>

</html>