<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レイアウト集</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/layouts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
</head>

<body>
    <header>
        <p class="page-title">
            <a class="link" href="/">
                ts express
            </a>
        </p>
        <nav>
            <ol>
                <li><a class="nav-link" href="/">about</a></li>
                <li><a class="nav-link" href="/news">news</a></li>
                <li><a class="nav-link" href="/layouts">layouts</a></li>
                <li><a class="nav-link" href="/contact" target="_blank">contact</a></li>
            </ol>
        </nav>
    </header>

    <div class="container bg-white p-2 min-height">
        <h1>レイアウト集
        </h1>
        <ul class="layouts">
            <li><a href="/layouts/flex">フレキシブルボックスレイアウト</a></li>
            <li><a href="/layouts/grid">グリッドレイアウト</a></li>
            <li><a href="/layouts/table">テーブルレイアウト</a></li>
            <li><a href="/layouts/font">フォント</a></li>
            <li><a href="/layouts/embedded-content">エンベディッド・コンテンツ</a></li>

        </ul>
        <a href="/">
            <button class="to-home-btn">
                <i class="fas fa-home"></i><span class="to-home">ホームへ戻る</span>
            </button>
        </a>
    </div>

    <footer>
        <p>created by yuichiyasui</p>
    </footer>
</body>

</html>