.grid-center {
    display: grid;
    align-content: center;
}

.left {
    -webkit-text-stroke: 4px white;
    color: transparent;
    font-size: 8rem;
    font-weight: bold;
    text-align: left;
}
.center {
    -webkit-text-stroke: 4px white;
    color: transparent;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
}
.right {
    -webkit-text-stroke: 4px white;
    color: transparent;
    font-size: 8rem;
    font-weight: bold;
    text-align: right;
}