h1 {
    border-bottom: solid 2px grey;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: rgb(36, 37, 37);
}

.layouts {
    list-style-type: none;
    padding-left: 0;
}

.layouts>li {
    line-height: 3;
    padding-left: 1rem;
}

ul>li:hover {
    background-color: rgba(245, 245, 245, 0.3);
}

.to-home-btn {
    color: grey;
    border-radius: 0.3rem;
    padding: 0.2rem 1rem;
}

.to-home-btn:hover {
    background-color: lightgray;
}

.to-home {
    margin-left: 0.5rem;
}

.min-height {
    min-height: 53vh;
}