h1 {
    border-left: solid 5px grey;
    border-bottom: solid 2px grey;
    padding-left: 14px;
    padding-bottom: 2px;
}

.container {
    width: 80vw;
    margin: 2rem auto;
}

h2 {
    margin-top: 3rem;
}

.dd-translate {
    height: 2rem;
    width: 4rem;
    background-color: darkgoldenrod;
    color: white;
    transform: translate(4rem, 2rem);
}

.dd-scale {
    height: 2rem;
    width: 4rem;
    background-color: darkolivegreen;
    color: white;
    transform: translate(12rem, 1rem) scale(2, 2);
}

.dd-rotate {
    height: 2rem;
    width: 4rem;
    background-color: darkslateblue;
    color: white;
    transform: translate(30rem, 1rem) rotate(30deg);
}

.dd-skew {
    height: 2rem;
    width: 4rem;
    background-color: darkblue;
    color: white;
    transform: translate(22rem, -4rem) skew(30deg, 0deg);
}

.ddd-transform {
    display: block;
    transform: translate3d(19rem, 0rem, 5rem) rotate3d(2, 2, 0, 63deg);
}

.animation-wrap {
    display: flex;
}

.transition {
    transition: transform 1s;
    transform: scale(1);
    display: grid;
    align-items: center;
    text-align: center;
    width: 10rem;
    height: 10rem;
    color: white;
    background-color: darkred;
    border-radius: 100%;
    margin: 1rem;
}

.transition:hover {
    transform: scale(1.2);
}

.animation {
    margin: 1rem;
    display: grid;
    align-items: center;
    text-align: center;
    color: white;
    width: 10rem;
    height: 10rem;
    background-color: darkorange;
    animation: anima 1s infinite alternate;
}

@keyframes anima {
    0% {
        border-radius: 0%;
    }

    100% {
        border-radius: 100%;
    }
}

.blur {
    filter: blur(5px);
}

.brightness {
    filter: brightness(200%);
}

.invert {
    filter: invert(1);
}

.drop-shadow {
    filter: drop-shadow(5px 5px 5px black);
}

.mt-3 {
    margin-top: 3rem;
}