<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>特殊効果</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/layouts/effects.css">
</head>

<body>
    <div class="container">
        <h1>特殊効果</h1>
        <section>
            <h2>2Dトランスフォーム</h2>
            <div class="dd-translate">移動</div>
            <div class="dd-scale">拡大</div>
            <div class="dd-rotate">回転</div>
            <div class="dd-skew">スキュー</div>
        </section>

        <section>
            <h2>3Dトランスフォーム</h2>
            <img class="ddd-transform" src="/images/rakuscal_clear.png">
        </section>

        <section>
            <h2>アニメーション</h2>
            <div class="animation-wrap">
                <div class="transition">トランジション</div>
                <div class="animation">アニメーション</div>
            </div>
        </section>

        <section>
            <h2>エフェクト</h2>
            <img class="blur" src="/images/rakuscal_clear.png">
            <img class="brightness" src="/images/rakuscal_clear.png">
            <img class="invert" src="/images/rakuscal_clear.png">
            <img class="drop-shadow" src="/images/rakuscal_clear.png">
        </section>

        <div class="mt-3">
            <a href="/layouts">レイアウト集に戻る</a>
        </div>
    </div>
</body>

</html>