<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フレキシブルボックスレイアウト</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/layouts/flex.css">
</head>
<body>
    <div class="container">
        <h1>フレキシブルボックスレイアウト</h1>

        <div class="flex-container">
            <main>
                <article>
                    <h2>HelloWorld</h2>
                    <p>おはようございます、<ruby>
                            世界
                            <rt>ワールド</rt>
                        </ruby>。</p>
                    <figure id="rakuscal">
                        <img src="/images/rakuscal_clear.png" alt="ラ●スカルくん">
                        <figcaption>
                            <details>
                                <summary>
                                    このキャラクターについて
                                </summary>
                                <dl>
                                    <dt>ラ●スカルくん</dt>
                                    <dd>非公認キャラクター</dd>
                                    <dd>
                                        <a href="/images/rakuscal_clear.png" download="ラ●スカルくん.png">
                                            画像をダウンロード
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="/images/rakuscal_clear.png" target="_brank">別タブで画像を表示</a>
                                    </dd>
                                </dl>
                            </details>
                        </figcaption>
                    </figure>
                </article>
            </main>
            <aside class="profile">
                <address>WRITTEN BY Yuichi</address>
                <dl>
                    <dt>Yuichi</dt>
                    <dd>都内で働くWebエンジニアです。</dd>
                </dl>
            </aside>
        </div>

        <div class="mt-3">
            <a href="/layouts">レイアウト集に戻る</a>
        </div>

    </div>
</body>
</html>