<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フォント</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/layouts/font.css">
</head>

<body>
    <div class="container">
        <h1>フォント</h1>
        <h2>フォントプロパティ</h2>
        <ul>
            <li class="font-family">Font-Familyでメイリオ</li>
            <li class="font-variant">Font Variant</li>
        </ul>

        <h2>行の高さの変更</h2>
        <p class="line-height">
            行の高さを変更します。<br>
            行の高さを変更します。<br>
            行の高さを変更します。<br>
        </p>

        <h2>行揃え</h2>
        <p class="text-align">
            行揃えを行います。<br>
            行揃えを行います。<br>
            行揃えを行います。<br>
        </p>

        <h2>行内のコンテンツの位置揃え</h2>
        <div class="text-container">
            <div class="vertical-align-top">
                <img src="/images/rakuscal_clear.png" alt="ラ●スカルくん">
            </div>
            <div class="vertical-align-middle">
                <img src="/images/rakuscal_clear.png" alt="ラ●スカルくん">
            </div>
            <div class="vertical-align-bottom">
                <img src="/images/rakuscal_clear.png" alt="ラ●スカルくん">
            </div>
        </div>

        <h2>改行・タブ・スペースの反映と自動改行の有無</h2>
        <div class="white-space">氏名：山田 太郎
            年齢：29歳
            職業：エンジニア</div>

        <h2>長い単語の改行ルール</h2>
        <div class="overflow">
            https://www.amazon.co.jp/gp/product/4297110210?pf_rd_r=N1QRPN8XMVYABMHH00P9
        </div>

        <h2>文字の間隔</h2>
        <div class="letter-spacing">Hello World!!</div>
        
        <h2>ドロップシャドウ</h2>
        <p class="text-shadow">Drop Shadow</p>
        
        <h2>テキストのアウトライン</h2>
        <p class="-webkit-text-stroke">Webkit Text Stroke</p>

         <div class="columns">
             <h2>マルチカラムレイアウト</h2>
             <p>今日も引き続きリプレイス作業でした。
                昨日作業手順を自分の中で構築してある程度マニュアル化したので
                今日は昨日の半分くらいの時間で同じ作業が終わりました。
                逆にGit周りでかなり時間を使ったのできちんと勉強したいなと感じました。
                今日は現場のエンジニアの方が教えてくれたので解決できました。
                
                来週には自力でSassを書く作業も発生しそうなので、
                CSSの学習を早めに片付けてSassのテクニックの学習に早く着手したいと思います。
                CSSをきちんと学習するとフレームワークなしでかなりいいものが作れそうなイメージが湧いてきたので、
                時間を作ってCSSポートフォリオも作りたいなと思いました。</p>
         </div>

         <div class="mt-3 writing-mode">
             <h2><span>01</span>縦書き</h2>
             <p>
                今日は一日打ち合わせもなく作業でした。一応今日計画していたページの完成まではいけたので、今のところ順調という感じでした。<br />
                リプレイスでは、書いてあるコードが理解できればそこそこ一人でも作業ができたので、幅広く勉強しておいて良かったと感じました。<br />
                ただ、Gitの使い方は研修レベルだとプルリクなどがないので、恥をかきそうだなと少し心配になりました。今日は構成の理解にかなり時間を使ったので明日以降は倍速くらいにペースアップして早めにタスクを消化したいと思います。
             </p>
         </div>

        <div class="mt-3">
            <a href="/layouts">レイアウト集に戻る</a>
        </div>


    </div>

</body>

</html>