<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>グリッドレイアウト</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/layouts/grid.css">
</head>

<body>

    <h1>グリッドレイアウト</h1>
    <div class="container">
        <div class="boxA">A</div>
        <div class="boxB">B</div>
        <div class="boxC">C</div>
        <div class="boxD">D</div>
        <div class="boxE">E</div>
        <div class="boxF">F</div>
    </div>
    <a href="/layouts">レイアウト集に戻る</a>
</body>


</html>